<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/base/navbar.css') }}">
            {# <link rel="stylesheet" href="{{ asset('css/base/base.css') }}"> #}
        {% endblock %}
        <script src="https://kit.fontawesome.com/1b3c4452ae.js" crossorigin="anonymous"></script>

    </head>
    <body>
        {% block navbar %}
            <nav id="navbar">
                <div id="nav-logo">
                    <h1><a href="/">TODO-Symfony</a></h1>
                </div>
                <div id="nav-links">
                        {% if app.user %}
                            <a href="/logout">Logout</a>
                            <a href="/task">My tasks</a>
                        {% else %}
                            <a href="/login">Login</a>
                            <a href="/register">Register</a>
                        {% endif %}
                </div>
            </nav>
        {% endblock %}
        {% block body %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
